/* Footer design */
.wrapper-dark {
  background-color: #333;
  color: lightgrey;
  padding: 50px 0 50px 0;
}


.wrapper-dark i {
  font-size: 35px;
  padding-right: 20px;
}

.wrapper-dark i:hover {
  color: yellow;
}

